#features-wrapper{
	.intro{
		color: rgb(40, 47, 57);
		text-align: center;
		font-weight: normal;
		font-size: 26px;
		margin-top: 0;
		line-height: 34px;
		margin-bottom: 70px;
	}	
	.feature {

		@media (max-width: 767px) {
			margin:40px 0;
		}
		
		.thumb{
			border: 3px solid rgb(255, 255, 255);
			border-radius: 5px;
			box-shadow: 0px 0px 0px 1px rgb(188, 188, 188);
			display: block;
			margin: 0 auto 25px;
			-webkit-transition: all .2s linear;
			-moz-transition: all .2s linear;
			-ms-transition: all .2s linear;
			-o-transition: all .2s linear;
			transition: all .2s linear;
		}
		h3{
			font-size: 22px;
			font-weight: 600;
			color: rgb(37, 43, 52);
			margin: 16px auto 10px;
			display: block;
			width: 81%;

			@media (min-width: 768px) and (max-width: 979px) {
				margin: 0;
				margin-bottom: 20px;
			}
		}
		i{
			margin-right: 10px;
			color: #52575f;
			font-size: 25px;
		}
		.description{
			color: rgb(68, 71, 77);
			width: 87%;
			padding-left: 35px;

			@media (min-width: 768px) and (max-width: 979px) {
				width: 100%;
				padding-left: 0;
			}
		}
	}
	.feature2 {
		margin-bottom: 50px;
		position: relative;
		.icon {
			width: 65px;
			height: 65px;
			text-align: center;
			background: rgba(0, 0, 0, 0.1);
			border-radius: 100px;
			position: absolute;
			i{
				font-size: 30px;
				line-height: 65px;
			}
		}
		p,h4{
			margin-left: 80px;
			width: 70%;
		}
		h4{
			font-weight: 600;
			line-height: 25px;
			color: rgb(0, 0, 0);
		}
	}
}